<script src="~/Public/js/target.min.js"></script>

<header class="main-menu-area">
    <div class="container">
        <div class="row">
            <!-- SHOPPING-CART END -->
            @Html.Action("MainMenu", "Module")
            <!-- MAINMENU END -->
        </div>
        @Html.Action("MainMenuMobile", "Module")

    </div>
</header>